<div class="recover-code-container">
  <app-logo-screen class="logo"></app-logo-screen>

  <div class="recover-code">
    <h1 class="title">Recuperar contraseña</h1>
    <form class="recover-code-form">
      <h2> Código de Recuperación: </h2>
      <mat-form-field class="input">
        <mat-label>Código</mat-label>
        <input matInput type="number" [(ngModel)]="otp" name="otp">
        <button mat-icon-button type="button" matSuffix>
          <mat-icon>visibility_off</mat-icon>
        </button>
      </mat-form-field>
    </form>
    <button routerLink="/change-password" mat-raised-button class="recover-button" color="primary" (click)="verifyOtp()">Verificar</button>
  </div>

</div>
