<div class="recover-container">
  <app-logo-screen class="logo"></app-logo-screen>

  <div class="recover">
    <h1 class="title">Recuperar contraseña</h1>
    <form class="recover-form">
      <h2> Correo: </h2>
      <mat-form-field class="input">
        <mat-label>Correo</mat-label>
        <input matInput [(ngModel)]="email" name="email">
      </mat-form-field>
    </form>
    <button routerLink="/recover-code" mat-raised-button class="recover-button" color="primary" (click)="verifyEmail()">Recuperar contraseña</button>
  </div>

</div>
