<div class="row m-0 d-flex justify-content-center min-vh-100">
  <app-logo-screen class="d-none d-md-flex col-md-6 m-0 p-0"></app-logo-screen>
  <form class="col-12 col-md-6 gap-4 d-flex flex-column justify-content-center align-items-center px-5">
    <div class="logo d-md-none">
      <img class="img" src="../../../../assets/credistore2logo.png" alt="CreditStore Logo">
    </div>
    <h1 class="h1 fs-1 fw-medium">Iniciar Sesión</h1>
    <div class="input-group flex-nowrap">
      <span class="input-group-text" id="addon-wrapping">
        <i class="bi bi-person"></i>
      </span>
      <input type="text" class="form-control" placeholder="Username">
    </div>
    <div class="input-group flex-nowrap">
      <input type="text" class="form-control" placeholder="Contraseña">
    </div>
    <div class="d-flex flex-column align-items-center gap-2">
      <a class="btn btn-primary" (click)="navigateToHome()">Iniciar sesión</a>
      <a class="btn btn-secondary" (click)="navigateToCreateAccount()">No tienes una cuenta?</a>
      <a class="btn btn-secondary" (click)="navigateToChangePassword()">Recuperar contraseña</a>
    </div>
  </form>
</div>
