<nav class="navbar" [ngClass]="{'expanded': isMenuOpen}">
  <div class="logo">
    <img src="assets/creditstore-logo.svg" alt="CreditStore Logo">
  </div>
  <div class="hamburger" (click)="toggleMenu()">
    <span class="bar"></span>
    <span class="bar"></span>
    <span class="bar"></span>
  </div>
  <ul class="nav-links">
    <li>
      <a routerLink="/home">
        <img src="assets/icons/home-icon.svg" alt="Icono Inicio" class="icon">
        <span>Inicio</span>
      </a>
    </li>
    <li>
      <a routerLink="/clients">
        <img src="/assets/icons/client-icon.svg" alt="Icono Clientes" class="icon">
        <span>Mis Clientes</span>
      </a>
    </li>
    <li>
      <a routerLink="/cuentas">
        <img src="assets/icons/account-icon.svg" alt="Icono Cuentas" class="icon">
        <span>Mis Cuentas</span>
      </a>
    </li>
    <li>
      <a routerLink="/reportes">
        <img src="assets/icons/report-icon.svg" alt="Icono Reportes" class="icon">
        <span>Reportes</span>
      </a>
    </li>
  </ul>
  <div class="bottom-section">
    <div class="setting">
      <a routerLink="/configuracion">
        <img src="assets/icons/setting-icon.svg" alt="Icono Configuración" class="icon">
        <span>Configuración</span>
      </a>
    </div>
    <div class="divider"></div>
    <div class="user-info">
      <a routerLink="/change-profile">
        <img src="assets/Avatar.png" alt="User Profile" class="user-avatar">
        <span class="user-name">Juan Perez</span>
      </a>
    </div>
  </div>
</nav>
