<div class="change-password-container">
  <app-logo-screen class="logo"></app-logo-screen>
  <div class="change-password">
    <h1 class="title">Cambiar contraseña</h1>
    <form class="change-password-form">
      <!--... -->
      <h2>Nueva contraseña:</h2>
      <mat-form-field class="input">
        <mat-label>Contraseña</mat-label>
        <input matInput [type]="hide1 ? 'password' : 'text'" (input)="onPasswordInput($event)">
        <button mat-icon-button matSuffix type="button" (click)="hide1 = !hide1" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide1">
          <mat-icon>{{ hide1 ? 'visibility_off' : 'visibility' }}</mat-icon>
        </button>
      </mat-form-field>
      <!--... -->
      <h2>Confirmar contraseña:</h2>
      <mat-form-field class="input">
        <mat-label>Contraseña</mat-label>
        <input matInput [type]="hide2 ? 'password' : 'text'" (input)="onConfirmPasswordInput($event)">
        <button mat-icon-button matSuffix type="button" (click)="hide2 = !hide2" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide2">
          <mat-icon>{{ hide2 ? 'visibility_off' : 'visibility' }}</mat-icon>
        </button>
      </mat-form-field>
      <!--... -->
      <div class="password-validation">
        <p><span [class.green-checkmark]="hasUppercase">Contiene al menos una mayúscula</span></p>
        <p><span [class.green-checkmark]="hasSpecialChar">Contiene un carácter especial</span></p>
        <p><span [class.green-checkmark]="hasNumber">Contiene al menos un número</span></p>
        <p><span [class.green-checkmark]="passwordsMatch">Las contraseñas coinciden</span></p>
      </div>
    </form>
    <button routerLink="/login" mat-raised-button class="change-password-button" color="primary" (click)="changePassword()" [disabled]="!(hasUppercase && hasSpecialChar && hasNumber && passwordsMatch)">Cambiar contraseña</button>
  </div>
</div>
