<div class="change-password-container">
  <app-logo-screen class="logo"></app-logo-screen>
  <div class="change-password">
    <h1 class="title">Cambiar contraseña</h1>
    <form class="change-password-form">
      <h2>Nueva contraseña:</h2>
      <mat-form-field class="input">
        <mat-label>Contraseña</mat-label>
        <input matInput type="password" [(ngModel)]="newPassword" name="newPassword">
        <button mat-icon-button matSuffix type="button">
          <mat-icon>visibility_off</mat-icon>
        </button>
      </mat-form-field>
      <h2>Confirmar contraseña:</h2>
      <mat-form-field class="input">
        <mat-label>Contraseña</mat-label>
        <input matInput type="password" [(ngModel)]="confirmPassword" name="confirmPassword">
        <button mat-icon-button matSuffix type="button">
          <mat-icon>visibility_off</mat-icon>
        </button>
      </mat-form-field>
      <div class="password-validation">
        <p><span>Contiene al menos una mayúscula</span></p>
        <p><span>Contiene un carácter especial</span></p>
        <p><span>Contiene al menos un número</span></p>
        <p><span>Las contraseñas coinciden</span></p>
      </div>
    </form>
    <button routerLink="/login" mat-raised-button class="change-password-button" color="primary" (click)="changePassword()">Cambiar contraseña</button>
  </div>
</div>
