<div class="container">
    <app-navbar></app-navbar>
    <div class="content">
      <div class="accounts-container">
        <div class="accounts-header">
          <h2>Mis Cuentas</h2>

        </div>
        <div class="accounts-table">
          <table>
            <thead>
            <tr>
              <th>ID de Transacción</th>
              <th>Cliente</th>
              <th>Fecha de Registro</th>
              <th>Estado</th>
              <th>Deuda</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let account of accounts" >
              <td>{{ account.id }}</td>
              <td>{{ account.clientFirstName }} {{ account.clientLastName }}</td>
              <td>{{ account.registerDate | date: 'dd MMM, yyyy' }}</td>
              <td>{{ account.state }}</td>
              <td>S/ {{ account.debt }}</td>
            </tr>
            </tbody>
          </table>
        </div>
        
      </div>
    </div>
  </div>