.home-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.greeting-box {
  background-color: #f0f0f0;
  padding: 20px;
  border-radius: 8px;
  margin-bottom: 30px;
}

.greeting-box h2 {
  font-size: 24px;
  margin-bottom: 10px;
}



.client-amount {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.client-amount p {
  font-size: 18px;
  font-weight: bold;
}


.progress-bar {
  width: 100%;
  height: 6px;
  background-color: #f0f0f0c0;
  border-radius: 3px;
  overflow: hidden;
}




.action-buttons {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.add-client-btn,
.add-account-btn {
  background-color: #05AD75;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  font-size: 16px;
  margin: 0 10px;
  cursor: pointer;
}


.card-title {
  font-size: 1.25rem;
  color: #05AD75;
}

.card-text {
  font-size: 0.875rem;
}

.client-amount p {
  font-size: 0.875rem;
}

 .title {
  color: #05AD75;
}

