<body>
<h1>Plan de Pago de Consumo</h1>

<div class="detalle-consumo">
  <p><strong>Tipo tasa:</strong> EFECTIVA</p>
  <p><strong>Tiempo tasa:</strong> BIMESTRAL</p>
  <p><strong>Capitalización:</strong> CUATRIMESTRAL</p>
  <p><strong>Tasa%:</strong> 20.00%</p>
  <p><strong>P. Gracia:</strong> 1</p>
  <p><strong>Día de pago:</strong> 5</p>
  <p><strong>N° de Cuotas:</strong> 6</p>
  <p><strong>LÍMITE DE CRÉDITO:</strong> S/ 1,500.00</p>
</div>
<div class="container">
  <table>
    <thead>
    <tr>
      <th>NRO.</th>
      <th>TEA</th>
      <th>TEM</th>
      <th>P.G.</th>
      <th>PRÉSTAMO</th>
      <th>SALDO INICIAL</th>
      <th>INTERESES</th>
      <th>INTERES MORATORIO</th>
      <th>AMORT</th>
      <th>CUOTA</th>
      <th>SALDO FINAL</th>
      <th>FLUJO</th>
      <th>FECHA DE VENCIMIENTO</th>
      <th>ESTADO</th>
    </tr>
    </thead>
    <tbody>
    <tr class="resaltar-fila no-hover">
      <td class="mes-col">0</td>
      <td>9.5445%</td>
      <td>$/500.00</td>
      <td>$/500.00</td>
      <td>$/47.72</td>
      <td>$/65.55</td>
      <td>$/113.28</td>
      <td>$/434.45</td>
      <td>$/113.28</td>
    </tr>
    <tr>
      <td class="mes-col">1</td>
      <td>9.5445%</td>
      <td>$/500.00</td>
      <td>$/434.45</td>
      <td>$/41.48</td>
      <td>$/71.79</td>
      <td>$/113.28</td>
      <td>$/362.66</td>
      <td>$/113.28</td>
    </tr>
    <tr>
      <td class="mes-col">2</td>
      <td>9.5445%</td>
      <td>$/500.00</td>
      <td>$/362.66</td>
      <td>$/34.62</td>
      <td>$/78.66</td>
      <td>$/113.28</td>
      <td>$/284.00</td>
      <td>$/113.28</td>
    </tr>
    <tr>
      <td class="mes-col">3</td>
      <td>9.5445%</td>
      <td>$/500.00</td>
      <td>$/284.00</td>
      <td>$/27.11</td>
      <td>$/86.16</td>
      <td>$/113.28</td>
      <td>$/197.84</td>
      <td>$/113.28</td>
    </tr>
    <tr>
      <td class="mes-col">4</td>
      <td>9.5445%</td>
      <td>$/500.00</td>
      <td>$/197.84</td>
      <td>$/18.90</td>
      <td>$/94.38</td>
      <td>$/113.28</td>
      <td>$/103.46</td>
      <td>$/113.28</td>
    </tr>
    <tr>
      <td class="mes-col">5</td>
      <td>9.5445%</td>
      <td>$/500.00</td>
      <td>$/103.46</td>
      <td>$/9.88</td>
      <td>$/103.40</td>
      <td>$/113.28</td>
      <td>$/0.06</td>
      <td>$/113.28</td>
    </tr>
    <tr>
      <td class="mes-col">6</td>
      <td>9.5445%</td>
      <td>$/500.00</td>
      <td>$/0.06</td>
      <td>$/0.01</td>
      <td>$/0.06</td>
      <td>$/0.06</td>
      <td>$/0.00</td>
      <td>$/0.06</td>
    </tr>
    <tr>
      <td class="mes-col">7</td>
      <td>9.5445%</td>
      <td>$/500.00</td>
      <td>$/0.00</td>
      <td>$/0.00</td>
      <td>$/0.00</td>
      <td>$/0.00</td>
      <td>$/0.00</td>
      <td>$/0.00</td>
    </tr>
    <tr>
      <td class="mes-col">8</td>
      <td>9.5445%</td>
      <td>$/500.00</td>
      <td>$/0.00</td>
      <td>$/0.00</td>
      <td>$/0.00</td>
      <td>$/0.00</td>
      <td>$/0.00</td>
      <td>$/0.00</td>
    </tr>
    <tr>
      <td class="mes-col">9</td>
      <td>9.5445%</td>
      <td>$/500.00</td>
      <td>$/0.00</td>
      <td>$/0.00</td>
      <td>$/0.00</td>
      <td>$/0.00</td>
      <td>$/0.00</td>
      <td>$/0.00</td>
    </tr>
    <tr>
      <td class="mes-col">10</td>
      <td>9.5445%</td>
      <td>$/500.00</td>
      <td>$/0.00</td>
      <td>$/0.00</td>
      <td>$/0.00</td>
      <td>$/0.00</td>
      <td>$/0.00</td>
      <td>$/0.00</td>
    </tr>
    <tr>
      <td class="mes-col">11</td>
      <td>9.5445%</td>
      <td>$/500.00</td>
      <td>$/0.00</td>
      <td>$/0.00</td>
      <td>$/0.00</td>
      <td>$/0.00</td>
      <td>$/0.00</td>
      <td>$/0.00</td>
    </tr>
    <tr>
      <td class="mes-col">12</td>
      <td>9.5445%</td>
      <td>$/500.00</td>
      <td>$/0.00</td>
      <td>$/0.00</td>
      <td>$/0.00</td>
      <td>$/0.00</td>
      <td>$/0.00</td>
      <td>$/0.00</td>
    </tr>
    <tr>
      <td class="mes-col">13</td>
      <td>9.5445%</td>
      <td>$/500.00</td>
      <td>$/0.00</td>
      <td>$/0.00</td>
      <td>$/0.00</td>
      <td>$/0.00</td>
      <td>$/0.00</td>
      <td>$/0.00</td>
    </tr>
    <tr>
      <td class="mes-col">14</td>
      <td>9.5445%</td>
      <td>$/500.00</td>
      <td>$/0.00</td>
      <td>$/0.00</td>
      <td>$/0.00</td>
      <td>$/0.00</td>
      <td>$/0.00</td>
      <td>$/0.00</td>
    </tr>
    <tr>
      <td class="mes-col">15</td>
      <td>9.5445%</td>
      <td>$/500.00</td>
      <td>$/0.00</td>
      <td>$/0.00</td>
      <td>$/0.00</td>
      <td>$/0.00</td>
      <td>$/0.00</td>
      <td>$/0.00</td>
    </tr>
    <tr>
      <td class="mes-col">16</td>
      <td>9.5445%</td>
      <td>$/500.00</td>
      <td>$/0.00</td>
      <td>$/0.00</td>
      <td>$/0.00</td>
      <td>$/0.00</td>
      <td>$/0.00</td>
      <td>$/0.00</td>
    </tr>
    <tr>
      <td class="mes-col">17</td>
      <td>9.5445%</td>
      <td>$/500.00</td>
      <td>$/0.00</td>
      <td>$/0.00</td>
      <td>$/0.00</td>
      <td>$/0.00</td>
      <td>$/0.00</td>
      <td>$/0.00</td>
    </tr>
    <tr>
      <td class="mes-col">18</td>
      <td>9.5445%</td>
      <td>$/500.00</td>
      <td>$/0.00</td>
      <td>$/0.00</td>
      <td>$/0.00</td>
      <td>$/0.00</td>
      <td>$/0.00</td>
      <td>$/0.00</td>
    </tr>
    <tr>
      <td class="mes-col">19</td>
      <td>9.5445%</td>
      <td>$/500.00</td>
      <td>$/0.00</td>
      <td>$/0.00</td>
      <td>$/0.00</td>
      <td>$/0.00</td>
      <td>$/0.00</td>
      <td>$/0.00</td>
    </tr>
    <tr>
      <td class="mes-col">20</td>
      <td>9.5445%</td>
      <td>$/500.00</td>
      <td>$/0.00</td>
      <td>$/0.00</td>
      <td>$/0.00</td>
      <td>$/0.00</td>
      <td>$/0.00</td>
      <td>$/0.00</td>
    </tr>
    <tr>
      <td class="mes-col">21</td>
      <td>9.5445%</td>
      <td>$/500.00</td>
      <td>$/0.00</td>
      <td>$/0.00</td>
      <td>$/0.00</td>
      <td>$/0.00</td>
      <td>$/0.00</td>
      <td>$/0.00</td>
    </tr>
    <tr>
      <td class="mes-col">22</td>
      <td>9.5445%</td>
      <td>$/500.00</td>
      <td>$/0.00</td>
      <td>$/0.00</td>
      <td>$/0.00</td>
      <td>$/0.00</td>
      <td>$/0.00</td>
      <td>$/0.00</td>
    </tr>
    <tr>
      <td class="mes-col">23</td>
      <td>9.5445%</td>
      <td>$/500.00</td>
      <td>$/0.00</td>
      <td>$/0.00</td>
      <td>$/0.00</td>
      <td>$/0.00</td>
      <td>$/0.00</td>
      <td>$/0.00</td>
    </tr>
    </tbody>
  </table>
</div>
</body>
