.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: #ffffff;
  height: 100vh;
  width: 100vw;
}

.title {
  font-size: 3rem;
  margin-top: 5rem;
  font-weight: bold;
  margin-bottom: 60px;
  color: darkgreen;
}

.sections {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: start;
  padding: 20px;
  width: 80%;
}

.section1 {
  flex: 1;
  padding-left: 10px;
  padding-right: 10px;
  width: 25%;
}

.section2 {
  flex: 1;
  padding-left: 10px;
  padding-right: 10px;
  width: 25%;
}

.section3 {
  flex: 1;
  padding-left: 10px;
  padding-right: 10px;
  width: 25%;
  background-color: #F4F2F2;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title-section3 {
  font-weight: bold;
  color: darkgreen;
  margin-bottom: 5px;
  align-self: center;
}

.form {
  width: 100%;
}

.input {
  width: 100%;
}

.text {
  color: darkgreen;
  padding-top: 5px;
}

.selector {
  background-color: #F5F5F5;
  border-radius: 10px;
  padding-top: 15px;
  padding-bottom: 15px;
}

.radio {
  display: flex;
  flex-direction: row;
}

.radio-button {
  flex: 1;
}
