<div class="container">
    <app-navbar></app-navbar>
    <div class="content">
      <div class="accounts-container">
        <div class="accounts-header">
          <h2>Cuentas</h2>
        </div>
          <div class="accounts-table mt-3">
            <table class="table">
              <thead>
                <tr>
                  <th>ID de Transacción</th>
                  <th>Valor de Compra</th>
                  <th>Tipo de Interés</th>
                  <th>Periodo de Capitalización</th>
                  <th>Periodo de Interés</th>
                  <th>Tasa de Interés</th>
                  <th>Tipo de Crédito</th>
                  <th>Cantidad de Cuotas</th>
                  <th>Periodo de Gracia</th>
                  <th>Longitud del Periodo de Gracia</th>
                  <th scope="col">Ver Pagos</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let account of accounts">
                  <td>{{ account.id }}</td>
                  <td>S/ {{ account.purchaseValue}}</td>
                  <td>{{ account.interestType }}</td>
                  <td>{{ account.capitalizationPeriod }}</td>
                  <td>{{ account.interestPeriod }}</td>
                  <td>{{ account.interestRate }}%</td>
                  <td>{{ account.creditType }}</td>
                  <td>{{ account.installmentCount }}</td>
                  <td>{{ account.gracePeriod ? 'Sí' : 'No' }}</td>
                  <td>{{ account.gracePeriodLength }}</td>
                  <td><button type="button" class="btn btn-success" (click)="verpagos(account.id)">PAGOS</button></td>
                </tr>
              </tbody>
            </table>
          </div>
          
      </div>
    </div>
  </div>