<form [formGroup]="form" class="needs-validation">
  <div class="modal-header p-3 pe-0">
    <div class="row justify-content-between align-items-center w-100 g-0">
      <div class="col-11  pe-0 text-center">
        <h2 class="modal-title h2 mb-0">Registrar Cliente</h2>
      </div>
      <div class="col-auto p-0 ">
        <a type="button" class="btn btn-link link-success fw-medium text-decoration-none"
          (click)="modalService.close(false)">
          <i class="bi bi-x-lg"></i>
        </a>
      </div>
    </div>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="form-group col-md-6">
        <label class="form-label">Nombre *</label>
        <input class="form-control" type="text" formControlName="name">
        <div class="invalid-feedback d-block" app-field-error controlName="name"> </div>
      </div>
      <div class="form-group col-md-6">
        <label class="form-label">Apellidos *</label>
        <input type="text" class="form-control" formControlName="lastName">
        <div class="invalid-feedback d-block" app-field-error controlName="lastName"> </div>
      </div>
    </div>
    <div class="row">
      <div class="form-group col-md-6">
        <label class="form-label">DNI *</label>
        <input type="text" appNumericInput class="form-control" formControlName="dni">
        <div class="invalid-feedback d-block" app-field-error controlName="dni"> </div>
      </div>
      <div class="form-group col-md-6">
        <label class="form-label">Fecha de Nacimiento *</label>
        <input type="date" class="form-control" formControlName="birthDate">
        <div class="invalid-feedback d-block" app-field-error controlName="birthDate"> </div>
      </div>
    </div>
    <div class="row">
      <div class="form-group">
        <label class="form-label">Dirección </label>
        <input type="text" class="form-control" formControlName="address">
        <div class="invalid-feedback d-block" app-field-error controlName="address"> </div>
      </div>
    </div>
    <div class="row">
      <div class="form-group col-md-6">
        <label class="form-label">Monto máximo de deuda *</label>
        <input type="number" class="form-control" formControlName="creditLine">
        <div class="invalid-feedback d-block" app-field-error controlName="creditLine"> </div>
      </div>
      <div class="form-group col-md-6">
        <label class="form-label">Día de pago *</label>
        <ng-select formControlName="paymentDay" placeholder="Escoja el día de pago para toda su cuenta"
          [searchable]="false">
          <ng-option *ngFor="let day of paymentDays" [value]="day">{{day}}</ng-option>
        </ng-select>
      </div>
    </div>
    <div class="text-center">
      <button class="btn btn-primary" type="submit">Agregar</button>
    </div>
  </div>
</form>
