<div class="container">
    <div class="content">
        <h1 class="title">Agregar Cuenta</h1>
        <div class="sections">
            <div class="section1">
                
                <form class="form">
                    <h4 class="text">Valor de Compra</h4>
                    <mat-form-field class="input">
                        <mat-label>Valor de Compra</mat-label>
                        <input matInput>
                    </mat-form-field>
                </form>

                <h4 class="text">Tipo de Tasa</h4>
                <mat-radio-group aria-label="Select an option">
                    <mat-radio-button value="1">Efectiva</mat-radio-button>
                    <mat-radio-button value="2">Nominal</mat-radio-button>
                </mat-radio-group>

                <h4 class="text">Capitalización de Tasa</h4>
                <mat-select class="selector">
                    @for (capitalizationRate of capitalizationRates; track capitalizationRate) {
                        <mat-option [value]="capitalizationRate.value">{{capitalizationRate.viewValue}}</mat-option>
                    }
                </mat-select>

                <h4 class="text">Tiempo de Tasa</h4>
                <mat-select class="selector">
                    @for (capitalizationTime of capitalizationTimes; track capitalizationTime) {
                        <mat-option [value]="capitalizationTime.value">{{capitalizationTime.viewValue}}</mat-option>
                    }
                </mat-select>

                <form class="form">
                    <h4 class="text">Valor de Tasa</h4>
                    <mat-form-field class="input">
                        <mat-label>Valor de Tasa</mat-label>
                        <input matInput>
                    </mat-form-field>
                </form>
                  
            </div>
            <div class="section2">

                <h4 class="text">Tipo de Crédito</h4>
                <mat-radio-group aria-label="Select an option">
                    <mat-radio-button value="1">Pago a Vencimiento</mat-radio-button>
                    <mat-radio-button value="2">Pago Mensual</mat-radio-button>
                </mat-radio-group>

                <h4 class="text">N° de Cuotas</h4>
                <mat-select class="selector">
                    @for (shareNumber of sharesNumber; track shareNumber) {
                        <mat-option [value]="shareNumber.value">{{shareNumber.viewValue}}</mat-option>
                    }
                </mat-select>

                <h4 class="text">Plazo de Gracia</h4>
                <mat-radio-group aria-label="Select an option">
                    <mat-radio-button value="1">Sí</mat-radio-button>
                    <mat-radio-button value="2">No</mat-radio-button>
                </mat-radio-group>

                <h4 class="text">Periodo(s) de Gracia</h4>
                <mat-select class="selector">
                    @for (gracePeriod of gracePeriods; track gracePeriod) {
                        <mat-option [value]="gracePeriod.value">{{gracePeriod.viewValue}}</mat-option>
                    }
                </mat-select>

            </div>

            <div class="section3">
                <h2 class="title3">Valor de Compra</h2>

            </div>
        </div>
    </div>
</div>