
.custom-dialog-container {
    width: 80%; /* Ajusta el ancho según tus necesidades */
    max-width: 1000px; /* Máximo ancho */
  }
  
.container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-color: #fff; /* Fondo blanco */
    
  }
  
  .form-container {
    width: 100%;
    max-width:1000px;
  }
  
  .form-container h2 {
    color: #29624F; /* Color del encabezado */
    margin-bottom: 20px;
    font-size: 1.5em;
    text-align: center; /* Centrar el título */
  }
  
  .form-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
  }
  
  .form-group {
    flex: 1;
    margin-right: 20px;
  }
  
  .form-group:last-child {
    margin-right: 0;
  }
  
  .form-group label {
    display: block;
    color: #29624F; /* Color de las etiquetas */
    margin-bottom: 5px;
  }
  
  .input-container {
    position: relative;
  }
  
  .input-container i {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #05AD75; /* Color del icono */
  }
  
  .input-container input {
    width: 100%;
    padding: 10px 10px 10px 30px; /* Espacio para el ícono */
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1em;
  }
  
  .input-container input:focus {
    border-color: #05AD75; /* Color del borde al enfocar */
    outline: none;
    box-shadow: 0 0 5px rgba(5, 173, 117, 0.5);
  }
  
  .buttons-row {
    display: flex;
    justify-content: space-between;
  }
  
  .mat-raised-button.mat-primary {
    background-color: #05AD75;
    color: white;
  }
  
  .mat-button {
    color: #29624F;
  }
  